psycopg2~=2.9.9
uvicorn~=0.27.0.post1
fastapi~=0.109.2
bcrypt~=4.1.2
starlette~=0.36.3
sqlalchemy~=2.0.25
kink~=0.7.0
sqlalchemy_utils
python-dotenv~=1.0.1
python-multipart
boto3~=1.34.38
Pillow~=10.2.0
pytest~=8.0.0
localstack
awscli-local
pytest-asyncio
botocore~=1.34.38
pydantic~=2.6.1